*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    color: #6c6ee5;
    background-color: #69F5D1;
    padding: 1rem;
    font-family: sans-serif;
    /* Padding sempre é para dentro da div e margin para fora da diz */
}
/* .cabecalho h1{
    color: #69F5D1;
} */

img{
    height: 10rem;
    width: 20rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* body{
        background-color: red;
    } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}